/* advert =================================================== */
.advert div { text-align: center; padding: 0 40px; overflow: hidden; }
.oliverkinnecom-responsive { width: 150px; height: 150px; }

/* footer =================================================== */
footer { padding: 53px 0 36px 0; background-color: #606060; border-bottom: 30px solid #404040; }
footer section div { margin-left: 50px; }
footer section p { font-size: 1.2em; float: left; width: 207px; padding-right: 47px; }
footer section p, footer section p a { color: #fff; }

footer section p .button { display: block; float: left; width: 45px; height: 45px; margin: -8px 18px 0 0; }
footer section p .button.tel span { background: url('/img/phone.png'); }
footer section p .button.email span { background: url('/img/email.png'); }
footer section p .button.social span { background: url('/img/social.png'); }

footer section p.social { width: 177px; }
footer section p.social a { display: block; float: left; width: 16px; height: 16px; margin: 3px 6px 0 0; }
footer section p.social a:hover { opacity: 0.6; filter: alpha(opacity=60); }
footer section .github span { background: url('/img/github.png'); }
footer section .spiceworks span { background: url('/img/spiceworks.png'); }
footer section .linkedin span { background: url('/img/linkedin.png'); }

footer section p.ipv6 { width: 45px; padding-right: 0; margin-top: -7px; }
footer section p.ipv6 a:hover { border: none; }

/* media queries for advert ============================ */
@media(min-width: 400px) {
	.oliverkinnecom-responsive, span.adslot a { width: 300px; height: 250px; }
	span.adslot img { display: none; }
	span.adslot a { display: inline-block; background-image: url("https://www.statuscake.com/App/Banners/300x250.png"); }
}

@media(min-width: 540px) {
	.oliverkinnecom-responsive, span.adslot a { width: 468px; height: 60px; }
	span.adslot a { background-image: url("https://www.statuscake.com/App/Banners/468x60.png"); }
}

@media(min-width: 800px) {
	.oliverkinnecom-responsive, span.adslot a { width: 728px; height: 90px; }
	span.adslot a { background-image: url("https://www.statuscake.com/App/Banners/728x90.png"); }
}

@media print {
	header section nav, .advert { display: none; }
	header, footer { border-top: 1px solid #000; }
	article, footer { background-color: #fff; }
	footer { border-bottom: 0; }
	footer section p, footer section p a { color: #000; }
	footer section .github span, footer section .spiceworks span, footer section .linkedin span { filter: invert(100%); -webkit-filter: invert(100%); }
}